.footer-bottom {
  width: 100%;
  background-color: $color-blue-dark;
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
}

.footer-bottom__copyright {
  font-size: 12px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}

.footer-bottom__hotline {
  font-size: 12px;
  line-height: 18px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-green;
  }

  &:focus {
    color: $color-green;
  }
}

.footer-bottom__mail {
  position: relative;
  background-color: $color-blue-dark;
  color: $color-white;
  border: 2px solid $color-green;

  &::after {
    position: absolute;
    right: 5%;
    width: 20px;
    height: 15px;
    content: "";
    background-image: url('../img/icon-mail.png');
    background-repeat: no-repeat;
    background-size: 75%;
  }

  &:hover {
    background-color: $color-green;
  }
}
