$color-blue-light: rgb(239, 245, 250);
$color-blue-dark: rgb(31, 32, 50);
$color-grey: rgb(237, 237, 237);
$color-green: rgb(152, 191, 50);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
